.text-decorator-none{
    text-decoration: none;
}

.post{
        background-color: #e0e0e0c0 !important;
        color: #000000!important;
        border-radius: 30px!important; 
}

.text{
    color: black !important;
}

.botao-postagens{
    border-color: #0065a4!important;
    background-color: #0065a4 !important;
    color: white !important;
}

.grow:hover {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}
.midia img{
<<<<<<< HEAD
    width: 200px;
=======
    width: 600px;
>>>>>>> e88faa48d859b902ac839467216472f2a022fd07
}