.cursor {
    cursor:pointer;
    color:white;
}

.text-decorator-none{
    text-decoration: none;
}

.barra{
    background-color:  #005581 !important;
}

.logo{
    width: 200px;
    margin-left: 0px;
}

.logo-navbar{
    background-image: url('../../../assets/img/logo-navbar.png') !important;
}
.icone{
    margin-top: 10px;
}
