.cursor {
    cursor:pointer;
    color:white;
}

.text-decorator-none{
    text-decoration: none;
}

.barra{
    background-color:  #005581 !important;
}

.logo{
    width: 200px;
    margin-left: 0px;
}

.logonav{
    width: 100px;
}
.icone{
    margin-top: 10px;
    background-color: #005581;
    padding-left: 200px;
    text-align: center;
}

