.cursor {
    cursor:pointer;
    color:white;
}

.text-decorator-none{
    text-decoration: none;
}

.barra{
    background-color: blueviolet !important;
}

.logo{
    width: 200px;
    margin-left: 0px;

    
}