.imagem{
    background-image: url(../../assets/img/vetorlogo.png);
    background-repeat: 'no-repeat';
    width: 70vh;
    min-height: 80vh;
    background-size: cover;
    background-position: center;
}

.paper{
        margin: (8, 4);
        display: flex;
        flex-direction: column;
        align-items: center;
}

.avatar{
    margin: 20px;
    background-color: #009ddc !important;
}

.form {
    width: 80%;
    margin-top: 10px;

}

.submit {
    margin: (3, 0, 2);
    background-color: #005581 !important;
}
.text-decoration-none{
    text-decoration: none;
}

.text{
font-weight: bold !important; 
color: black !important;   
}

.root{
    
    background-image: linear-gradient(to left,#13b5ea,#72cdf4,#b8e0f7);
    color: black;
    margin: 0;
    padding: 2em 0;
      
    
}


