.imagem{
    background-image: url(../../assets/img/AcquaQuality.jpeg);
    background-repeat: 'no-repeat';
    width: 80vh;
    min-height: 90vh;
    background-size: cover;
    background-position: center;
    /*background-color:  theme.palette.type === 'light' ? theme.palette.grey[50] : theme.palette.grey[900],*/
}

.paper{
        margin: (8, 4);
        display: flex;
        flex-direction: column;
        align-items: center;
}

.avatar{
    margin: 20px;
    background-color: black;
}

.form {
    width: 80%;
    margin-top: 10px
}

.submit {
    margin: (3, 0, 2);
}
.text-decoration-none{
    text-decoration: none;
}

.text{
font-weight: bold !important; 
color: black !important;   
}