.box1{
    background-color: #0079c1;
    height: 120px;
}
.box2{
    background-color: #005581;
    height: 60px;
}
.redes{
    font-size: 50px!important;
    color: #ffffff;
}
.textos{
    color: #ffffff;
}

