.caixa{
    background-image: linear-gradient(to left,#13b5ea,#72cdf4,#b8e0f7);
}

.imagem{
    background-image: url(../../assets/img/vetorlogo.png);
}

.titulo{
    color:  white !important;
    font-weight: bold !important;
}

.botao{
    border-color: #005581!important;
    background-color: #005581 !important;
    color: white !important;
}

.postagens{
    background-color: white;
}