
.caixa{
    background-color: #f0f2f5;
    
}

.titulo{
    color:  rgb(0, 0, 0) !important;
    font-weight: bold !important;
}
.titulo1{
    color: black !important;
}

.botao{
    border-color: #0065a4!important;
    background-color: #0065a4 !important;
    color: white !important;
    
}

.postagens{
    background-color: #f0f2f5;
}

.imagem1{
    background-image: url(../../assets/img/vetorlogo.png);
    background-repeat: 'no-repeat';
    width: 70vh;
    min-height: 80vh;
    background-size: cover;
    background-position: center;
}
.paperpost{
    background-color:#f0f2f5ce;
    border-radius: 30px;
    padding: 20px;
}
.bemvindo{
    margin-top: 50px;
    background-color: #0065a4a1;
    border-radius: 30px;
    font-size: xx-large;
}
.perfil{
    margin-right: 20px!important;
}