.caixa{
<<<<<<< HEAD
    background-image: linear-gradient(to left,#13b5ea,#72cdf4,#b8e0f7);
=======
    background-color: rgb(3, 140, 245);
>>>>>>> a428bb4dc26755b0b3b5bba416838c7c6b8872ba
}

.titulo{
    color:  black !important;
    font-weight: bold !important;
    /*background-color: #fd79a8 !important;
    justify-content:center;
    border-radius: 10px;
    padding: 30px 30px 30px 30px;
    margin: 30px;*/
}
.titulo1{
    color: black !important;
}

.botao{
    border-color: white !important;
    background-color: rgb(7, 165, 238);
    color: white !important;
}

.postagens{
    background-image: linear-gradient(to left,#13b5ea,#72cdf4,#b8e0f7);
}

.imagem1{
    background-image: url(../../assets/img/vetorlogo.png);
    background-repeat: no-repeat;
    width: 80vh;
    min-height: 80vh;
    background-size: cover;
    background-position: center;
}
