.img3{
    border-radius: 30px !important;
    align-items: flex-end!important;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
}

.card{
    margin-top: 30px; 
    padding-left: 130px;
}

.fundo{
    background-image: url(../../assets/img/Água.png);
    height: 150%;
    /*background-repeat: 'no-repeat';*/
    
}

.text{
    text-align: justify;
}

.titulo{
    font-weight: bold !important;
    color: black !important;
    background-color: #f0f2f5
}

p{
    text-align: justify;
} 

.redes1{
    font-size: 20px!important;
    color: #005581c5;
    padding: 5px;
}

.container{
    display: flex;
    flex-flow:wrap;
    justify-content: center;
    background-color: #f0f2f5!important;
    border-radius: 30PX;
    
} 

.container2{
    margin: (8,4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f0f2f5!important;
    border-radius: 30PX;
    padding-left: 60px;   
    padding-bottom: 30px; 
    align-items: center;
} 

.imagem{
    padding-left: 45px;
    padding-top: 85px;
}

.sobre{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:left;
    padding-bottom: 25px;
    padding-top: 20px;
    color: #000000;}


.box{
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 25px;
}

#mostrar{
    display: none;
    color: rgb(0, 0, 0);
  }
  
#passar_mouse:hover #mostrar{
    display:block;
    }

.alinhar{
    justify-content: center;
    text-align: center;
    padding: 30px;
}

.texto{
    color: rgb(0, 0, 0);
   font-size: 16px !important;
   justify-content: center;

}

.alinha{
    justify-content: center;
    text-align: center;
    border-radius: 25px;
}


.time{
    color: #000000;
    margin-top: 70px;
}
.logo2{
    justify-content: center;
    text-align: center;
    padding-left: 300px;
}

p{
    text-align: justify;
}
 