.img{
    border-radius: 50% !important;
    align-items: flex-end!important;
}
.geral{
    background-image: url('https://cdn.pixabay.com/photo/2020/04/19/08/17/watercolor-5062356__480.jpg')!important;
    background-size: 100%;
}

.card{
    background-color: #BFEAFD;
}
.fundo{
    background-image: linear-gradient(to left,#13b5ea,#72cdf4,#b8e0f7);
}