.img{
    border-radius: 50% !important;
    align-items: flex-end!important;
    width: 300px;
    height: 350px;
    background-repeat: no-repeat;
}

.card{
    margin-top: 30px; 
    padding-left: 130px;
}

.fundo{
    background-color: #f0f2f5!important;
}

.text{
    text-align: justify;
}

.titulo{
    font-weight: bold !important;
    color: black !important;
    background-color: #f0f2f5
}

p{
    text-align: justify;
}

.fundo1{
    background-color: #f0f2f5!important;
    color: black;
}

.card1{
    background-color: #f0f2f5;
    border-radius: 20%;
}

.redes1{
    color: black;
    padding: 5px;
    font-size: 35px !important;
}