.imagem2{
    background-image: url(../../assets/img/vetorlogo.png);
    background-repeat: no-repeat;
    width: 80vh;
    min-height: 80vh;
    background-size: cover;
    background-position: center;
}

.textos2{
    font-weight: bold !important;
}

.botoes{
    margin-right: 20px !important;
    background-color: #005581 !important;
}

.fundo{
    background-image: linear-gradient(to left,#13b5ea,#72cdf4,#b8e0f7);
}